.img {
  width: 150px;
  margin-right: 10px;
  @media screen and (max-width: 401px) {
    width: 100px;
    
  }
}

.popoverBody {
  background-color: rgba(218, 213, 213, 0.949);
  padding: 30px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
.basketBox {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}
.basketBox:not(:last-of-type) {
  margin-bottom: 10px;
}
.quantity {
  margin: 0 7px;
}
.quantityBtn {
  padding-bottom: 10px;
}
.remove {
  margin-left: 7px;
}
.price {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 5px;
  padding-top: 10px;
}
.itemBasket {
  display: flex;
  flex-direction: column;
  // height: 100%;
  justify-content: space-between;
  @media screen and (max-width: 401px) {
    width: 100%;
    
  }
}
.imgBasket {
  width: 40px;
  height: 40px;
  @media screen and (max-width: 401px) {
    width: 30px;
    height: 30px;
  }
}

.btnBasket {
  cursor: pointer;
  padding: 0 5px;
  border: none;
  background-color: rgba(11, 11, 11, 0);
  color: white;
  &:hover {
    color: #13e324;
    .imgBasket * {
      fill: #13e324;
    }
  }
}
.total {
  background-color: black;
  border-radius: 100%;
  padding: 4px 8px;

  font-weight: 900;
  @media screen and (max-width: 401px) {
    font-weight: 400;
    font-size: 6px;
    padding: 4px 5px;
  }
}
