
.img{
    width: 150px;
}
.li{
    border: 2px solid black;
    padding: 25px;
    width: 400px;
    @media screen and (max-width: 401px) {
        width: 290px;
      }
}

.li:not(:last-of-type){
    
    @media screen and (max-width: 401px) {
        margin-bottom: 7px;
      }
}