.box{
    display: flex;
    justify-content: space-around;
}
.img{
    width: 150px;
}

.popoverBody{
    background-color: rgba(218, 213, 213, 0.949);
    padding: 30px;
    border-radius: 25px;
}
.basketBox{
    display: flex;
}